:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --text: #434455;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --items: 3;
  --indent: 24px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: var(--indent);
}

.card-set-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.link {
  text-decoration: none;
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--pressed-state);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 428px;
  padding: 0 16px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* Hero section */

.hero {
  max-width: 428px;
  padding: 112px 0;
  margin: 0 auto;
  margin-top: 70px;
  text-align: center;
  background-color: var(--dark);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/section-1/Dark-bg_mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/section-1/Dark-bg_mob@2x.jpg);
  }
}

.hero-title {
  max-width: 320px;
  margin: 0 auto 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.hero-button {
  display: block;
  min-width: 169px;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  background-color: var(--primary-brand);
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state);
}

@media only screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    margin-top: 72px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/section-1/Dark-bg_tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/section-1/Dark-bg_tab@2x.jpg);
    }
  }

  .hero-title {
    max-width: 496px;
    margin: 0 auto 36px;
    font-size: 56px;
    line-height: 1.07;
  }
}

@media only screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/section-1/people-office_desk.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/section-1/people-office_desk@2x.jpg);
    }
  }

  .hero-title {
    margin: 0 auto 48px;
  }
}

/* Qualities section */

.qualities-section {
  padding: 96px 0;
}

.qualities-list {
}

.qualities-list-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 264px;
  max-height: 112px;
  padding: 24px 100px;
  margin-bottom: 8px;
  border-radius: 4px;
  background: var(--cloud);
}

.feature-title {
  margin-bottom: 8px;
  color: var(--dark);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.feature-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media only screen and (max-width: 767.98px) {
  .qualities-list-item:not(:last-child) {
    margin-bottom: 72px;
  }

  .feature-title {
    text-align: center;
  }
}

@media only screen and (max-width: 1157.98px) {
  .qualities-list-wrapper {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .qualities-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .qualities-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .qualities-section {
    padding: 120px 0;
  }

  .qualities-list-item {
    flex-basis: calc((100% - 24px * 3) / 4);
  }

  .feature-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .feature-text {
    font-weight: 400;
  }
}
